.a@CHARSET "UTF-8";

/* Remove margin from pagination buttons */
.pagination-footer .pagination { margin-top: 0; margin-bottom: 0; }

/* Date range picker */
.date-range-button { color: white; }

/* Generic styles */
.post-number { color: #aaa; display: inline-block; width: 30px; }
.post-description { color: #367fa9; }
.amount { text-align: right; }

/* Alternate colors */
table tbody tr.odd { background-color: #f9f9f9; }

/* Match some select2 style with adminlte theme */
.select2-container--bootstrap .select2-selection { border-radius: 0; }
.select2-container--bootstrap .select2-search--dropdown .select2-search__field, .select2-container--bootstrap .select2-selection { font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif; }
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered { padding-top: 4px; }

/* Rows within boxes should not have a negative margin on both sides */
.box .row { margin-left: 0; margin-right: 0; }

.calculation-result { border-top: 1px solid #999; }

/******************* Specific pages ******************/

/* Working hours overview */
.relatie { color: #00a65a; }
.project { color: #367fa9; }

/* Transactions overview */
.transactions .amount.negative { color: red; }
.transactions .amount.positive { color: green; }

/* Transactions not booked yet are grey */ 
.transactions .not-booked-yet td { color: grey; }
.transactions .not-booked-yet .amount { color: grey; }

/* Mark not balanced transactions */
tr.not-balanced, 
input.not-balanced { background: repeating-linear-gradient(135deg, rgba(188,96,96,0.4), rgba(188,96,96,0.4) 10px, rgba(152,70,70,0.4) 10px, rgba(152,70,70,0.4) 20px); }

/* Proper line breaks in every line */
.transactions td { white-space: nowrap; }
.transactions td.description { white-space: normal; }
.transactions td.buttons { min-width: 80px; }

/* Transaction edit form */
.statement-total-amount { font-weight: bold; }

/* Statement overview */
table.statements tbody tr td { border-width: 0; }
.header-line td { font-weight: bold;  }
.statements .remarks { max-width: 200px; color: grey; font-weight: normal; }
.statements .detail-line td { font-size: 0.9em; padding-top: 2px; padding-bottom: 2px; }

/* Balance */
.balance h4 { text-align: center; border-bottom: 1px solid #bbb; margin-bottom: 0; }
.balance .details .side { padding-top: 5px; padding-bottom: 5px; }
.balance .details .post-total { margin-top: 4px; margin-bottom: 4px; }
.balance .details .side-debet { border-right: 1px solid #bbb; }
.balance .totals { border-top: 1px solid #bbb; font-weight: bold; }

/* Financial results */
.results .post-type { margin-bottom: 5px; margin-top: 10px; font-weight: bold; border-bottom: 1px solid #bbb; }
.results .totals { font-weight: bold; }
.results .total { display: none; }
.collapsed-box .total { display: inline-block; position: absolute; right: 8.333%; padding-right: 22px; font-weight: bold; }

/* Amounts overdue */
.amount-overdue-danger { color: red; }
.amount-overdue-warning { color: #FC0; }
.closed-saldo td { color: #999; }

/* Assets */
.asset-booking .statements { border-color: #3C8DBC; }
.asset-booking .statements .remarks, .asset-booking .statements .buttons { display: none; }
.asset-calculation .row { margin-top: 3px; margin-bottom: 3px; }